$a-duration: 10.2s;

.slide-toggle {
  /* opacity 0 so that it can be read by screen readers */
  opacity: 0;
}

.pvInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.strenth-info {
  font-size: 0.92em;
  margin-top: 0.5em;
}

.strength-value {
  font-weight: 500;
}

.slide {
  display: flex;
  justify-content: flex-end;
}

.pass-details {
  background-color: #faf5f5;
  padding: 1em;
  border-radius: 10px;
  transition: width 2s;
  transition-timing-function: ease-in-out;
}

.pass-details.show {
  background-color: #faf5f5;
  padding: 1em;
  border-radius: 10px;
}

.slide-label {
  display: inline-block;
  background: #181a1d;
  margin-top: 0.7em;
  width: 2em;
  height: 1em;
  border-radius: 0.5em;
  position: relative;
  cursor: pointer;
  background: #2c3e50;
}

.slide-switch {
  position: absolute;
  width: 0.9em;
  height: 0.9em;
  margin-top: 0.05em;
  margin-left: 0.05em;
  border-radius: 1em;
  background: #7c7a7a;
  box-shadow: 5px 0px 28px -9px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease-in;
}

.slide-text {
  margin-top: 4px;
  font-size: 14px;
  padding: 5px;
}

.slide-toggle:checked ~ .slide-label .slide-switch {
  background: #2ecc71;
  transform: translatex(1em);
  transition: transform 0.2s ease-in;
}

.password-must-header,
.password-should-header {
  font-weight: 500;
}

ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
  font-size: 14px;
}

ul li:before {
  position: relative;
  margin-right: 5px;
  left: 0;
}

ul li.done:before {
  content: '\2714';
  color: #2ecc71;
}
ul li.error:before {
  content: '\2716';
  color: crimson;
}

.Weak {
  color: crimson;
}

.Medium {
  color: rgb(247, 156, 52);
}

.Strong {
  color: #2ecc71;
}
