<div>
  <div class="pvInfo">
    <div class="strenth-info">Strength: 
      <span class="strength-value" [ngClass]="strength <= 50 ? 'Weak' : strength > 50 && strength <= 80 ? 'Medium' : 'Strong'">
        {{ strength <= 50 ? 'Weak' : strength > 50 && strength <= 80 ? 'Medium' : 'Strong' }}
      </span>
    </div>
    <div class="slide">
      <input id="slide-toggle" [(ngModel)]="showDetails" class="slide-toggle" type="checkbox" />
      <label class="slide-label" for="slide-toggle">
        <span class="slide-switch"></span>
      </label>
      <div class="slide-text">Show Details</div>
    </div>
  </div>
  <div *ngIf="showDetails">
    <div class="password-must-header">
      Password must...
    </div>
    <ul class="password-must-content">
      <li *ngIf="pvMinLength" [ngClass]="validateMinLength ? 'done' : 'error'">
        atleast {{ pvMinLength || '0' }} characters
      </li>
    </ul>
    <div class="password-should-header">
      Password should...
    </div>
    <ul class="password-should-content">
      <li *ngIf="pvDigit" [ngClass]="validateDigit ? 'done' : 'error'">
        contain atleast 1 digit
      </li>
      <li *ngIf="pvSpecialChar" [ngClass]="validateSpecialChar ? 'done' : 'error'">
        contain atleast 1 special character
      </li>
      <li *ngIf="pvCommon" [ngClass]="validateCommon ? 'done' : 'error'">not be a predictable</li>
    </ul>
  </div>
</div>
