.slide-toggle {
    /* opacity 0 so that it can be read by screen readers */
    opacity: 0;
}

.pvInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 15px;
}

label {
    margin: 0;
    padding: 0;
}

.strenth-info {
    margin-top: .55em;
}
.strength-value {
    display: flex;
    font-weight: bold !important;
}
.strength-text{
    min-width: 4.5em;
}
.strength-meter{
    margin-top: .45em;
    height: 0.6em;
    min-width: 8em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-top: 0.7em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

.slide {
    display: flex;
    height: 2em;
}

.slide-text {
    font-size: 15px;
    margin: 0.6em;
}

input:checked+.slider {
    background-color: rgb(83, 206, 89);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(83, 206, 89);
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.pass-details {
    display: table;
    text-align: left;
    width: 100%;
    background-color: #faf5f5;
    padding: 1em 2em;
    border-radius: 1em;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}


ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    font-size: 1em;
}

ul li {
    width: 100%
}

ul li:before {
    position: relative;
    margin-right: 0.3em;
    left: 0;
}

ul li.done:before {
    content: '\2714';
    color: #2ecc71;
}

ul li.error:before {
    content: '\2716';
    color: crimson;
}

.password-must-header,
.password-should-header {
    font-size: 1em;
    font-weight: bold !important;
}

.Weak {
    color: crimson;
}

.Good {
    color: rgb(247, 156, 52);
}

.Strong {
    color: #2ecc71;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.strength-meter.Weak::-webkit-meter-optimum-value {
    background: crimson;
}

.strength-meter.Good::-webkit-meter-optimum-value {
    background: rgb(247, 156, 52)
}

.strength-meter.Strong::-webkit-meter-optimum-value {
    background: #2ecc71;
}
