<div>
  <div class="slide">
    <input id="slide-toggle" [(ngModel)]="showDetails" class="slide-toggle" type="checkbox" />
    <label class="slide-label" for="slide-toggle">
      <span class="slide-switch"></span>
    </label>
    <div class="slide-text">Show Details</div>
  </div>
  <div *ngIf="showDetails">
    <div class="password-must-header">
      Password must...
      <ul class="password-must-content">
        <li [ngClass]="validateMinLength ? 'done': 'error'">contains atleast 8 characters</li>
      </ul>
    </div>
    <div class="password-should-header">
      Password should...
      <ul class="password-should-content">
        <li [ngClass]="validateDigit ? 'done': 'error'">contain atleast 1 digit</li>
        <li [ngClass]="validateSpecialChar ? 'done': 'error'">contain atleast 1 special character</li>
        <li [ngClass]="validateCommon ? 'done': 'error'">not be a predictable</li>
      </ul>
    </div>
  </div>
</div>
