<div>
    <div class="pvInfo">
        <div class="strenth-info">
            <span class="strength-value" [ngClass]="strength <= 50 ? 'Weak' : strength > 50 && strength <= 80 ? 'Good' : 'Strong'">
                <div class="strength-text">{{ strength <= 50 ? 'Weak' : strength > 50 && strength <= 80 ? 'Good' : 'Strong' }}</div>
                <meter id="strength-meter" class="strength-meter" [ngClass]="strength <= 50 ? 'Weak' : strength > 50 && strength <= 80 ? 'Good' : 'Strong'" max="100" [value]="strength"></meter>
            </span>
        </div>
        <div class="slide">
            <label class="switch">
                <input [(ngModel)]="showDetails" class="slide-toggle" type="checkbox">
                <span class="slider round"></span>
            </label>
            <div class="slide-text">Show Details</div>
        </div>
    </div>
    <div *ngIf="showDetails" class="pass-details">
        <div class="password-must-header">
            {{ pvMustMsg || 'Password must...' }}
        </div>
        <ul class="password-must-content">
            <li *ngIf="pvMinLength && pvMinLength.toLowerCase() === 'c'" [ngClass]="validateMinLength ? 'done' : 'error'">
                {{ pvMinLengthMsg || 'contain at least ' + (pvMinValue || '0') + ' characters' }} 
            </li>
            <li *ngIf="pvDigit && pvDigit.toLowerCase() === 'c'" [ngClass]="validateDigit ? 'done' : 'error'">
                {{ pvDigitMsg || 'contain at least 1 digit' }}
            </li>
            <li *ngIf="pvSpecialChar && pvSpecialChar.toLowerCase() === 'c'" [ngClass]="validateSpecialChar ? 'done' : 'error'">
                {{ pvSpecialCharMsg || 'contain at least 1 special character' }}
            </li>
            <li *ngIf="pvCommon && pvCommon.toLowerCase() === 'c'" [ngClass]="validateCommon ? 'done' : 'error'">
                {{ pvCommonMsg || 'not be predictable (e.g. password123)' }}
            </li>
            <li *ngIf="pvRepeat && pvRepeat.toLowerCase() === 'c'" [ngClass]="validateRepeat ? 'done' : 'error'">
                {{ pvRepeatMsg || 'not have characters repeating more than 2 times' }}
            </li>
        </ul>
        <div class="password-should-header">
            {{ pvShouldMsg || 'Password should...' }}
        </div>
        <ul class="password-should-content">
            <li *ngIf="pvMinLength && pvMinLength.toLowerCase() === 'o'" [ngClass]="validateMinLength ? 'done' : 'error'">
                {{ pvMinLengthMsg || ('contain at least ' + pvMinValue || '0' + ' characters') }} 
            </li>
            <li *ngIf="pvDigit && pvDigit.toLowerCase() === 'o'" [ngClass]="validateDigit ? 'done' : 'error'">
                {{ pvDigitMsg || 'contain at least 1 digit' }}
            </li>
            <li *ngIf="pvSpecialChar && pvSpecialChar.toLowerCase() === 'o'" [ngClass]="validateSpecialChar ? 'done' : 'error'">
                {{ pvSpecialCharMsg || 'contain at least 1 special character' }}
            </li>
            <li *ngIf="pvCommon && pvCommon.toLowerCase() === 'o'" [ngClass]="validateCommon ? 'done' : 'error'">
                {{ pvCommonMsg || 'not be predictable (e.g. password123)' }}
            </li>
            <li *ngIf="pvRepeat && pvRepeat.toLowerCase() === 'o'" [ngClass]="validateRepeat ? 'done' : 'error'">
                {{ pvRepeatMsg || 'not have characters repeating more than 2 times' }}
            </li>
        </ul>
        <div><em> {{ pvSuggestionMsg || 'Longer passwords are stronger. Try using randomised characters or combining multiple words together to form a longer unique password to keep your account secure.' }}</em></div>
    </div>
</div>
